.audio-list {
	position: relative;

	&__list {
		position: relative;
		column-count: 2;
		column-width: 50%;
		column-gap: 10%;
		counter-reset: item;
	}

	&__item {
		counter-increment: item;
		display: flex;
		align-items: center;
		padding-bottom: 30px;
		font-size: 22px;

		&.active {
			.audio-list__icon-play {
				visibility: hidden;
			}

			.audio-list__icon-pause {
				visibility: visible;
			}
		}
	}

	&__num {
		flex: 0 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 36/22 + em;
		height: 36/22 + em;
		font-weight: 700;
		border-radius: 10/22 + em;
		background: #ffc525;
		color: #fff;

		&:before {
			content: counter(item);
		}
	}

	&__button {
		position: relative;
		flex: 0 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 54/22 + em;
		width: 100/54 + em;
		height: 100/54 + em;
		background: #f3f3f3;
		background-size: cover;
		border-radius: 20/54 + em;
		border: 0;
		margin-left: 30/54 + em;
		overflow: hidden;
		color: #fff;

		&:before {
			content: " ";
			background: #000;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.1;
			cursor: pointer;
		}

		&:hover {
			i {
				transform: scale(1.1);
			}
		}
	}

	&__icon-play,
	&__icon-pause {
		transition: transform 0.2s;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -0.5em;
		margin-left: -0.5em;
	}

	&__icon-pause {
		visibility: hidden;
	}

	&__text {
		margin-left: 30/22 + em;
		margin-right: auto;
	}

	&__time {
		margin-left: 30/22 + em;
		color: rgba(#000, 0.8);
	}

	&__name {
		font-weight: 500;
		text-transform: uppercase;
		line-height: (26/22);
		color: #000;
	}

	&__desc {
		font-size: 18/22 + em;
		line-height: (21/18);
		margin-top: 5/18 + em;
		color: #000;
	}

	&__decor-1 {
		transform: rotate(110deg);
		position: absolute;
		left: 10%;
		top: 4%;
		width: 6.5vw;
		max-width: 97px;
		mix-blend-mode: exclusion;
		opacity: 0.1;
	}

	&__decor-2 {
		transform: rotate(180deg);
		position: absolute;
		left: 80%;
		top: 8%;
		width: 3.5vw;
		max-width: 50px;
		opacity: 0.44;
	}
	&__decor-3 {
		transform: rotate(-146.86deg);
		position: absolute;
		left: 85%;
		top: 8%;
		width: 11vw;
		max-width: 160px;
		opacity: 0.3;
	}
	&__decor-4 {
		transform: rotate(180deg);
		position: absolute;
		left: 2%;
		top: 68%;
		width: 3.5vw;
		max-width: 50px;
		opacity: 0.44;
	}
	&__decor-5 {
		transform: rotate(176deg);
		position: absolute;
		left: 12%;
		top: 78%;
		width: 3.5vw;
		max-width: 35px;
		opacity: 0.44;
	}
	&__decor-6 {
		transform: rotate(176deg);
		position: absolute;
		left: 32%;
		top: 73%;
		width: 3.5vw;
		max-width: 35px;
		opacity: 0.44;
	}
	&__decor-7 {
		position: absolute;
		left: 75%;
		top: 67%;
		width: 11vw;
		max-width: 160px;
		opacity: 0.3;
	}
}

@media (max-width: 991.98px) {
	.audio-list {
		&__list {
			column-count: 1;
		}
	}
}

@media (max-width: 767.98px) {
	.audio-list {
		&__item {
			font-size: 14px;
		}
	}
}

@media (max-width: 499.98px) {
}
