.nav-pics {
	&:before,
	&:after {
		content: " ";
		height: 110px;
		background: url(../images/curved-bgs/light-blue.svg) no-repeat 50% 0;
		background-size: 100% auto;
		display: block;
	}

	&:before {
		height: 90px;
	}

	&:after {
		background-position: 50% 100%;
	}

	&__content {
		background: #f5f7fe;
	}

	&__row {
		display: flex;
		margin: 0 -35px;
	}

	&__col {
		flex: 0 0 auto;
		padding: 0 35px;
		width: 33.33%;
	}

	&__image {
		position: relative;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;

		&:before {
			content: " ";
			padding-top: 100%;
			display: block;
		}
	}

	&__item {
		position: relative;

		&:hover {
			.nav-pics__title {
				color: #0033a0;
			}
			.nav-pics__title__arrow {
				transition: margin 0.2s, opacity 0.2s 0.1s;
				margin-left: 20/19 + em;
				opacity: 1;
			}
		}
	}

	&__title {
		transition: all 0.2s;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 22/32 + em;
		font-size: calc(min(3vw, 32px));
		font-weight: 900;
		line-height: (43.65/32);
		text-shadow: 0.05em 0.05em 0 #fff;
		text-transform: uppercase;
		text-align: center;
		color: #6950a2;

		&__arrow {
			transition: margin 0.2s 0.1s, opacity 0.2s;
			margin-left: -2em;
			opacity: 0;
			background: #ffc525;
			padding: 9/19 + em;
			border-radius: 10/19 + em;
			font-size: 19/32 + em;
			line-height: 1;
			color: #fff;
		}
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__new {
		position: absolute;
		right: 15%;
		top: 17%;
		width: 21%;
		background: url(../images/new.svg) no-repeat 50% 50%;
		background-size: contain;

		&:before {
			content: " ";
			padding-top: 50%;
			display: block;
		}
	}
}

@media (max-width: 991.98px) {
	.nav-pics {
		&__row {
			margin: 0 -20px;
		}

		&__col {
			padding: 0 20px;
		}
	}
}

@media (max-width: 767.98px) {
	.nav-pics {
	}
}

@media (max-width: 599.98px) {
	.nav-pics {
		&:before {
			height: 35px;
		}
		&:after {
			height: 55px;
		}

		&__row {
			flex-wrap: wrap;
		}

		&__col {
			margin-top: 40px;

			&:first-child {
				margin-top: 0;
			}
		}

		&__image {
			max-width: 240px;
			margin: 0 auto;
		}

		&__col {
			width: 100%;
		}

		&__title {
			font-size: 20px;
		}
	}
}
