.nav-icons {
	font-size: 60px;

	&__row {
		position: relative;
	}

	&__list {
		display: flex;
		margin: 0 -25/60 + em;
	}

	&__item {
		width: 115/60 + em;
		box-sizing: content-box;
		padding: 0 25/60 + em;
		text-align: center;
	}

	&__image {
		height: 60/60 + em;
		display: flex;
		align-items: flex-end;

		svg {
			height: 100%;
			width: 100%;
		}

		&--reviews {
			svg {
				height: 70%;
			}
		}
	}

	&__title {
		font-size: 14/60 + em;
		line-height: 1.2;
		color: #303030cc;
		margin-top: 15/14 + em;
	}

	&__next,
	&__prev {
		transition: all 0.2s;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding: 0.5em;
		border: 0;
		border-radius: 10/16 + em;
		font-size: 16px;
		line-height: 1;
		background: #ffc525;
		color: #fff;

		&:hover {
			background: #30a657;
			border-color: transparent;
			color: #fff;
		}

		&.slick-disabled {
			display: none;
		}
	}

	&__next {
		right: 0;
	}
}

@media (max-width: 991.98px) {
	.nav-icons {
	}
}

@media (max-width: 767.98px) {
	.nav-icons {
	}
}

@media (max-width: 599.98px) {
	.nav-icons {
	}
}
