.promo {
	&__image {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;

		&:before {
			content: " ";
			padding-top: 740/1920 * 100%;
			display: block;
		}
	}
}

@media (max-width: 599.98px) {
	.promo {
		&__image {
			background-position: 70% 50%;
			background-size: auto 100%;

			&:before {
				padding-top: 60%;
			}
		}
	}
}
