.section {
	margin: 120px 0;
	letter-spacing: 0.05em;

	&__center {
		padding: 0 20px;
		max-width: 1380px;
		margin: 0 auto;
	}

	&__title {
		text-align: center;
		margin-bottom: 50/54 + em !important;
		font-size: 54px;
		font-weight: 900;
		line-height: (74/54);
		color: #0033a0;
	}

	&__curved {
		&:before,
		&:after {
			content: " ";
			height: 90px;
			background-repeat: no-repeat;
			background-position: 50% 0;
			background-size: 100% auto;
			display: block;
		}

		&:after {
			background-position: 50% 100%;
		}

		&--orange {
			&:before,
			&:after {
				background-image: url(../images/curved-bgs/orange.svg);
			}

			.section__curved__content {
				background: #f68c1f;
			}
		}

		&--blue {
			&:before,
			&:after {
				background-image: url(../images/curved-bgs/blue.svg);
			}

			.section__curved__content {
				background: #adc5e7;
			}
		}

		&--dark-blue {
			&:before,
			&:after {
				background-image: url(../images/curved-bgs/dark-blue.svg);
			}

			.section__curved__content {
				background: #7c92b8;
			}
		}

		&--green {
			&:before,
			&:after {
				background-image: url(../images/curved-bgs/green.svg);
			}

			.section__curved__content {
				background: #30a757;
			}
		}
	}

	&__more {
		margin-top: 55px;
		text-align: center;

		&__button {
			transition: all 0.2s;
			display: inline-flex;
			align-items: center;
			padding: 18/18 + em 30/18 + em;
			border: 2px solid #fff;
			border-radius: 13/18 + em;
			font-size: 18px;
			font-weight: 700;
			color: #fff;

			i {
				margin-left: 20/32 + em;
				font-size: 32/18 + em;
			}

			&:hover {
				background: #fff;
				color: #30a757;
			}
		}
	}
}

@media (max-width: 767.98px) {
	.section {
		&__title {
			font-size: 40px;
		}
	}
}

@media (max-width: 600px) {
	.section {
		&__title {
			font-size: 22px;
		}
	}
}
