.section {
	margin: 120px 0;

	&__center {
		padding: 0 20px;
		max-width: 1380px;
		margin: 0 auto;
	}

	&__title {
		text-align: center;
		text-shadow: 0.05em 0.05em 0 #fff;
		text-transform: uppercase;
		margin-bottom: 50/54 + em !important;
		font-size: calc(min(4vw, 54px));
		font-weight: 900;
		line-height: (73.66/54);
		color: #0033a0;
	}

	&__curved {
		&:before,
		&:after {
			content: " ";
			height: 90px;
			background-repeat: no-repeat;
			background-position: 50% 0;
			background-size: 100% auto;
			display: block;
		}

		&:after {
			background-position: 50% 100%;
		}

		&--orange {
			&:before,
			&:after {
				background-image: url(../images/curved-bgs/orange.svg);
			}

			.section__curved__content {
				background: #f68c1f;
			}
		}

		&--light-orange {
			&:before,
			&:after {
				background-image: url(../images/curved-bgs/light-orange.svg);
			}

			.section__curved__content {
				background: #ffc525;
			}
		}

		&--blue {
			&:before,
			&:after {
				background-image: url(../images/curved-bgs/blue.svg);
			}

			.section__curved__content {
				background: #adc5e7;
			}
		}

		&--dark-blue {
			&:before,
			&:after {
				background-image: url(../images/curved-bgs/dark-blue.svg);
			}

			.section__curved__content {
				background: #7c92b8;
			}
		}

		&--green {
			&:before,
			&:after {
				background-image: url(../images/curved-bgs/green.svg);
			}

			.section__curved__content {
				background: #30a757;
			}
		}
	}

	&__more {
		margin-top: 55/18 + em;
		text-align: center;
		font-size: 18px;

		&__button {
			transition: all 0.2s;
			display: inline-flex;
			align-items: center;
			padding: 18/18 + em 30/18 + em;
			border: 2px solid #fff;
			border-radius: 13/18 + em;
			font-size: 18/18 + em;
			font-weight: 700;
			color: #fff;

			i {
				margin-left: 20/32 + em;
				font-size: 32/18 + em;
			}

			&:hover {
				background: #fff;
				color: #30a757;
			}

			&--green {
				border-color: #30a757;
				color: #30a757;

				&:hover {
					background: #30a757;
					color: #fff;
				}
			}
		}
	}
}

@media (max-width: 991.98px) {
	.section {
		margin: 85px 0;
	}
}

@media (max-width: 767.98px) {
	.section {
		&__title {
			font-size: 32px;
		}
	}
}

@media (max-width: 599.98px) {
	.section {
		margin: 10vw 0;

		&__title {
			font-size: 22px;
		}

		&__curved {
			&:before,
			&:after {
				height: 50px;
				background-size: 300vw auto;
			}
		}

		&__more {
			font-size: 16px;
		}
	}
}
