.video {
	position: relative;
	padding-top: 115px;
	padding-bottom: 125px;

	&--top {
		padding: 0 !important;

		.video__player {
			margin-top: 0 !important;
		}

		.video__screen {
			width: auto;
			max-width: none;
		}
	}

	&__title {
		margin-bottom: 34/54 + em !important;
	}

	&__desc {
		max-width: 915px;
		margin: 0 auto;
		font-size: 18px;
		text-align: center;
		line-height: (24.55/18);
		color: rgba(#000, 0.8);

		a {
			color: #30a757 !important;
		}
	}

	&__player {
		position: relative;
		margin-top: 140/32 + em;
		font-size: calc(min(3vw, 32px));
	}

	&__label {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;

		&__text {
			display: inline-flex;
			align-items: center;
			padding: 0 65/32 + em;
			height: 100/32 + em;
			background: url(../images/new-episode-bg.svg) no-repeat 50% 50%;
			background-size: 100% 100%;
			font-size: 1em;
			font-weight: 900;
			line-height: (43.65/32);
			text-transform: uppercase;
			text-shadow: 0.05em 0.05em 0 #fff;
			white-space: nowrap;
			color: #0033a0;
		}
	}

	&__screen {
		position: relative;
		padding: 24/32 + em;
		width: 90%;
		max-width: 1220px;
		margin-right: auto;
		margin-left: auto;
		background: linear-gradient(
			64.94deg,
			rgba(#0033a0, 0.15) 2.94%,
			rgba(#6950a2, 0.15) 86.46%
		);
		border-radius: 60/32 + em;
	}

	&__logo {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 20%;
		transform: translate(0, 50%);
		max-width: 288px;
	}

	&__image {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 40/32 + em;

		&:before {
			content: " ";
			padding-top: 745/1265 * 100%;
			display: block;
		}
	}

	&__play {
		transition: all 0.2s;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 3em;
		height: 3em;
		background: rgba(#000, 0.4);
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		cursor: pointer;

		&:hover {
			transform: translate(-50%, -50%) scale(1.1);
		}

		i {
			transform: translateX(0.1em);
		}

		&--red {
			background: #ea4d33;
		}
	}

	&__play-pulse {
		width: 3em;
		height: 3em;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;

		&__circle {
			transition: all 0.2s;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background: #fff;
			border-radius: 50%;
			color: #ffc525;
		}

		&:hover {
			.video__play-pulse__circle {
				transform: scale(1.1);
			}
		}

		i {
			display: block;
			transform: translateX(0.1em);
			font-size: 2em;
		}

		&:before,
		&:after {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 120%;
			height: 120%;
			content: " ";
			border: 1px solid #fff;
			border-radius: 50%;
			z-index: -1;
		}

		&:before {
			animation: button-waves 2s 0.2s infinite;
		}

		&:after {
			animation: button-waves 2s infinite;
			width: 140%;
			height: 140%;
		}
	}

	&__decor-1 {
		position: absolute;
		left: 83%;
		top: 5%;
		width: 12%;
		opacity: 0.5;
	}

	&__decor-2 {
		transform: rotate(45deg);
		position: absolute;
		left: 5%;
		top: 21%;
		width: 9%;
		opacity: 0.5;
	}
}

@media (max-width: 1299.98px) {
	.video {
		&__decor-1 {
		}

		&__decor-2 {
			top: 35%;
		}
	}
}

@media (max-width: 991.98px) {
	.video {
		padding: 85px 0;
	}
}

@media (max-width: 767.98px) {
	.video {
		&__play,
		&__play-pulse {
			font-size: 4vw;
		}

		&__desc {
			font-size: 16px;
		}

		&__decor-1 {
		}

		&__decor-2 {
			top: 40%;
		}
	}
}

@media (max-width: 599.98px) {
	.video {
		padding: 50px 0;

		&__desc {
			font-size: 14px;

			&__crop {
				max-height: (24.55/18) * 6 * 1em;
				overflow: hidden;
			}
		}

		&__player {
			margin-top: 65px;
		}

		&__label {
			margin-bottom: 10px !important;
			position: static;
			text-align: center;
			transform: none;
			font-size: 14px !important;
		}

		&__screen {
			width: 100%;
		}

		&__decor-1 {
			width: 17%;
			left: 80%;
			top: 1%;
		}

		&__decor-2 {
			width: 15%;
		}
	}
}

@media (min-width: 600px) {
	.video {
		&--top {
			.video__label {
				position: static;
				transform: none;
				margin-bottom: 70/54 + em;
				text-align: center;
				font-size: calc(min(3vw, 54px));
			}

			.video__label__text {
				padding: 0 65/54 + em;
				height: 100/54 + em;
			}
		}
	}
}

@media (min-width: 768px) {
	.video {
		&--top {
			.section__curved {
				&:after {
					display: none;
				}
			}
		}
	}
}

@keyframes button-waves {
	0% {
		transform: translate(-50%, -50%) scale(0);
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translate(-50%, -50%) scale(1.3);
		opacity: 0;
	}
}
