.video {
	padding-top: 115px;
	padding-bottom: 125px;

	&__title {
		margin-bottom: 34/54 + em !important;
	}

	&__desc {
		max-width: 915px;
		margin: 0 auto;
		font-size: 18px;
		text-align: center;
		line-height: (24.55/18);
		color: rgba(#000, 0.8);

		p {
			margin: 30/18 + em 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__player {
		position: relative;
		padding: 24/32 + em;
		max-width: 1220px;
		margin-top: 140/32 + em;
		margin-right: auto;
		margin-left: auto;
		background: linear-gradient(
			64.94deg,
			rgba(#0033a0, 0.15) 2.94%,
			rgba(#6950a2, 0.15) 86.46%
		);
		border-radius: 60/32 + em;
		font-size: calc(min(3vw, 32px));

		&__image {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 40/32 + em;

			&:before {
				content: " ";
				padding-top: 745/1265 * 100%;
				display: block;
			}
		}

		&__label {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 28/32 + em 65/32 + em;
			background: url(../images/new-episode-bg.svg) no-repeat 50% 50%;
			background-size: 100% 100%;
			font-size: 1em;
			font-weight: 900;
			line-height: (43.65/32);
			text-transform: uppercase;
			text-shadow: 0.05em 0.05em 0 #fff;
			white-space: nowrap;
			color: #0033a0;
		}

		&__play {
			transition: all 0.2s;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 3em;
			height: 3em;
			background: #ea4d33;
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			cursor: pointer;

			&:hover {
				transform: translate(-50%, -50%) scale(1.1);
			}

			i {
				transform: translateX(0.1em);
			}
		}
	}
}
