---
title: Главная
layout: default.hbs
---

<section class="section">
    <div class="section__center">
        <h3 class="section__title">Советы и статьи</h3>

        <nav class="nav-articles">
            {{#repeat 3}}
            <div class="nav-articles__item">
                <div class="nav-articles__title">7 ошибок родителей новорожденных детей</div>
                <div class="nav-articles__desc">
                    Новорожденный малыш окружен заботой родителей. 
                    В любовном порыве мамы и папы волнуются о младенце и совершают распространенные ошибки:
                </div>
                <div class="nav-articles__arrow">
                    <i class="icon-arrow-right"></i>
                </div>
                <a href="#" class="nav-articles__link"></a>
            </div>
            <div class="nav-articles__item">
                <div class="nav-articles__title">Лайфхаки для решения сложных ситуаций</div>
                <div class="nav-articles__desc">
                    Топ психологически выверенных шаблонов поведения для родителей в непростых ситуациях с детьми.
                </div>
                <div class="nav-articles__arrow">
                    <i class="icon-arrow-right"></i>
                </div>
                <a href="#" class="nav-articles__link"></a>
            </div>
            {{/repeat}}
        </nav>

        <div class="section__more">
            <a href="#" class="section__more__button section__more__button--green">
                <span>Загрузить ещё</span>
                <i class="icon-refresh-cw"></i>
            </a>
        </div>
    </div>
</section>

