---
title: Главная
layout: default.hbs
---



<section class="nav-pics">
    <div class="nav-pics__content">
        <div class="section__center">
            <div class="nav-pics__row">
                <div class="nav-pics__col">
                    <div class="nav-pics__item">
                        <div class="nav-pics__image" style="background-image: url(images/nav-pics/4.png);">
                            <div class="nav-pics__new"></div>
                        </div>
                        <div class="nav-pics__title">
                            <div class="nav-pics__title__text">мультфильмы</div>
                            <div class="nav-pics__title__arrow">
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                        <a href="#" class="nav-pics__link"></a>
                        
                    </div>
                </div>
                <div class="nav-pics__col">
                    <div class="nav-pics__item">
                        <div class="nav-pics__image" style="background-image: url(images/nav-pics/5.png);"></div>
                        <div class="nav-pics__title">
                            <div class="nav-pics__title__text">Аудио</div>
                            <div class="nav-pics__title__arrow">
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                        <a href="#" class="nav-pics__link"></a>
                    </div>
                </div>
                <div class="nav-pics__col">
                    <div class="nav-pics__item">
                        <div class="nav-pics__image" style="background-image: url(images/nav-pics/6.png);"></div>
                        <div class="nav-pics__title">
                            <div class="nav-pics__title__text">Игры</div>
                            <div class="nav-pics__title__arrow">
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                        <a href="#" class="nav-pics__link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{> slider-quotes }}


{{> slider-logos }}