---
title: Главная
layout: default.hbs
---

<section class="promo">
    <div class="promo__image" style="background-image: url(images/promo.jpg);"></div>
</section>

<section class="nav-pics">
    <div class="nav-pics__content">
        <div class="section__center">
            <div class="nav-pics__row">
                <div class="nav-pics__col">
                    <div class="nav-pics__item">
                        <div class="nav-pics__image" style="background-image: url(images/nav-pics/3.png);">
                            <div class="nav-pics__new"></div>
                        </div>
                        <div class="nav-pics__title">
                            <div class="nav-pics__title__text">Развлечения</div>
                            <div class="nav-pics__title__arrow">
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                        <a href="#" class="nav-pics__link"></a>
                        
                    </div>
                </div>
                <div class="nav-pics__col">
                    <div class="nav-pics__item">
                        <div class="nav-pics__image" style="background-image: url(images/nav-pics/2.png);"></div>
                        <div class="nav-pics__title">
                            <div class="nav-pics__title__text">Продукция</div>
                            <div class="nav-pics__title__arrow">
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                        <a href="#" class="nav-pics__link"></a>
                    </div>
                </div>
                <div class="nav-pics__col">
                    <div class="nav-pics__item">
                        <div class="nav-pics__image" style="background-image: url(images/nav-pics/1.png);"></div>
                        <div class="nav-pics__title">
                            <div class="nav-pics__title__text">Полезное</div>
                            <div class="nav-pics__title__arrow">
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                        <a href="#" class="nav-pics__link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="video">
    <div class="section__center">
        <h3 class="section__title video__title">текстовой блок</h3>

        <div class="video__desc">
            С рождения до 6 месяцев малыш бессознательно принимает ряд важных решений: жить и радоваться, доверять людям и звать на помощь, ожидать, что услышат и откликнутся на его потребности. В этот период поддержка родителей особенно важна.
            <br><br>Для того, чтобы помочь малышу сформировать здоровые жизненные установки и укрепить его доверие к вам, держите его на руках и смотрите на него во время кормления; заботливо прикасайтесь; говорите с ним и повторяйте за ним звуки.
        </div>

        <div class="video__player">
            <div class="video__label">
                <div class="video__label__text">Смотрите новую серию!</div>
            </div>
            <div class="video__screen">
                <div class="video__image" style="background-image: url(images/temp/video.jpeg);"></div>
                <div class="video__play">
                    <i class="icon-play"></i>
                </div>
            </div>
            
        </div>

    </div>

    <div class="video__decor-1"></div>
    <div class="video__decor-2"></div>

</section>



<section class="section">
    <div class="section__center">
        <h3 class="section__title">Советы и статьи</h3>

        <nav class="nav-articles">
            {{#repeat 3}}
            <div class="nav-articles__item">
                <div class="nav-articles__title">7 ошибок родителей новорожденных детей</div>
                <div class="nav-articles__desc">
                    Новорожденный малыш окружен заботой родителей. 
                    В любовном порыве мамы и папы волнуются о младенце и совершают распространенные ошибки:
                </div>
                <div class="nav-articles__arrow">
                    <i class="icon-arrow-right"></i>
                </div>
                <a href="#" class="nav-articles__link"></a>
            </div>
            <div class="nav-articles__item">
                <div class="nav-articles__title">Лайфхаки для решения сложных ситуаций</div>
                <div class="nav-articles__desc">
                    Топ психологически выверенных шаблонов поведения для родителей в непростых ситуациях с детьми.
                </div>
                <div class="nav-articles__arrow">
                    <i class="icon-arrow-right"></i>
                </div>
                <a href="#" class="nav-articles__link"></a>
            </div>
            {{/repeat}}
        </nav>

        <div class="section__more">
            <a href="#" class="section__more__button section__more__button--green">
                <span>Загрузить ещё</span>
                <i class="icon-refresh-cw"></i>
            </a>
        </div>
    </div>
</section>

<section class="section">
    <div class="section__center">
        <h3 class="section__title">Детский сок</h3>
    </div>

        <div class="section__curved section__curved--orange">
            <div class="section__curved__content">
                <div class="section__center">
                    <div class="products">
                        <div class="products__col">
                            <div class="products__item">
                                <div class="products__image" style="background-image: url(images/temp/products/4.jpeg);"></div>
                                <div class="products__title">
                                    Сок мультифруктовый 
                                </div>
                                <div class="products__desc">
                                    Черноголовка Бэйби Сок мультифруктовый восстановленный с 6 месяцев, 200 мл (тетра пак)
                                    Сок  «Черноголовка Бэйби» — вкусный 100% натуральный продукт, который удобно взять с собой на прогулку, в поездку или на пикник. Благодаря удобной и безопасной упаковке ребенок может пить самостоятельно. 
                                    А изображения героев любимого мультсериала «Оранжевая корова» развлекут и порадуют малыша.   Скрыть
                                </div>
                                <div class="products__prop">200 мл</div>
                                <div class="products__btn-buy">
                                    <button type="button">Купить</button>
                                </div>
                            </div>
                        </div>
                        <div class="products__col">
                            <div class="products__item">
                                <div class="products__image" style="background-image: url(images/temp/products/4.jpeg);"></div>
                                <div class="products__title">
                                    Сок мультифруктовый 
                                </div>
                                <div class="products__desc">
                                    Черноголовка Бэйби Сок мультифруктовый восстановленный с 6 месяцев, 200 мл (тетра пак)
                                    Сок  «Черноголовка Бэйби» — вкусный 100% натуральный продукт, который удобно взять с собой на прогулку, в поездку или на пикник. Благодаря удобной и безопасной упаковке ребенок может пить самостоятельно. 
                                </div>
                                <div class="products__prop">200 мл</div>
                                <div class="products__btn-buy">
                                    <button type="button">Купить</button>
                                </div>
                            </div>
                        </div>
                        <div class="products__col">
                            <div class="products__item">
                                <div class="products__image" style="background-image: url(images/temp/products/4.jpeg);"></div>
                                <div class="products__title">
                                    Сок мультифруктовый 
                                </div>
                                <div class="products__desc">
                                    Черноголовка Бэйби Сок мультифруктовый восстановленный с 6 месяцев, 200 мл (тетра пак)
                                    А изображения героев любимого мультсериала «Оранжевая корова» развлекут и порадуют малыша.   Скрыть
                                </div>
                                <div class="products__prop">200 мл</div>
                                <div class="products__btn-buy">
                                    <button type="button">Купить</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section__more">
                        <a href="#" class="section__more__button">
                            <span>Загрузить ещё</span>
                            <i class="icon-refresh-cw"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        
    
</section>

<section class="section">
    <div class="section__center">
        <h3 class="section__title">Детская вода</h3>
    </div>

    <div class="section__curved section__curved--blue">
        <div class="section__curved__content">
            <div class="section__center">
                <div class="products">
                    {{#repeat 3}}
                    <div class="products__col">
                        <div class="products__item">
                            <div class="products__image" style="background-image: url(images/temp/products/3.jpeg);"></div>
                            <div class="products__title">
                                Детская вода
                            </div>
                            <div class="products__desc">
                                «Черноголовка Бэйби» - негазированная вода с оптимальной минерализацией для детей с 0+ месяцев. Из собственной артезианской скважины <a href="#">Подробнее</a>
                            </div>
                            <div class="products__btn-buy">
                                <button type="button">Купить</button>
                            </div>
                        </div>
                    </div>
                    {{/repeat}}
                </div>

                <div class="section__more">
                    <a href="#" class="section__more__button">
                        <span>Загрузить ещё</span>
                        <i class="icon-refresh-cw"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="section">
    <div class="section__center">
        <h3 class="section__title">Фруктовые пюре</h3>
    </div>

    <div class="section__curved section__curved--dark-blue">
        <div class="section__curved__content">

            <div class="section__center">
                <div class="products">
                    {{#repeat 3}}
                    <div class="products__col">
                        <div class="products__item">
                            <div class="products__image" style="background-image: url(images/temp/products/1.jpeg);"></div>
                            <div class="products__title">
                                Черноголовка Бэйби Пюре из яблок и банана с творогом
                            </div>
                            <div class="products__desc">
                                Черноголовка Бэйби Пюре "Фруктово-творожный десерт" с 6 месяцев, 
                            </div>
                            <div class="products__prop">
                                85 гр.
                            </div>
                            <div class="products__btn-buy">
                                <button type="button">Купить</button>
                            </div>
                        </div>
                    </div>
                    {{/repeat}}
                </div>

                <div class="section__more">
                    <a href="#" class="section__more__button">
                        <span>Загрузить ещё</span>
                        <i class="icon-refresh-cw"></i>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="section">
    <div class="section__center">
        <h3 class="section__title">Готовые блюда</h3>
    </div>

    <div class="section__curved section__curved--green">
        <div class="section__curved__content">
            <div class="section__center">
                <div class="products">
                    {{#repeat 3}}
                    <div class="products__col">
                        <div class="products__item">
                            <div class="products__image" style="background-image: url(images/temp/products/2.jpeg);"></div>
                            <div class="products__title">
                                Фрикадельки из мяса индейки в сливочном соусе
                            </div>
                            <div class="products__desc">
                                Индейка — источник белка и легкоусвояемого железа, а сливочный соус хорошо дополнит любой гарнир.
    с 3 месяцев, <a href="#">Подробнее</a> 
                            </div>
                            <div class="products__btn-buy">
                                <button type="button">Купить</button>
                            </div>
                        </div>
                    </div>
                    {{/repeat}}
                </div>

                <div class="section__more">
                    <a href="#" class="section__more__button">
                        <span>Загрузить ещё</span>
                        <i class="icon-refresh-cw"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slider-logos">
    <div class="section__center">
        <h3 class="section__title">магазины</h3>

        <div class="slider-logos__root" id="slider-logos__root">
            <div class="slider-logos__slider">
                <button type="button" class="slider-logos__prev">
                    <i class="icon-arrow-left"></i>
                </button>
                <div class="slider-logos__body">
                    <div class="slider-logos__list" id="slider-logos__list">
                    {{#repeat 2}}
                        <div class="slider-logos__item">
                            <div class="slider-logos__image" style="background-image: url(images/temp/logos/1.png);"></div>
                            <a href="#" class="slider-logos__button">Купить</a>
                        </div>
                        <div class="slider-logos__item">
                            <div class="slider-logos__image" style="background-image: url(images/temp/logos/2.png);"></div>
                            <a href="#" class="slider-logos__button">Купить</a>
                        </div>
                        <div class="slider-logos__item">
                            <div class="slider-logos__image" style="background-image: url(images/temp/logos/3.png);"></div>
                            <a href="#" class="slider-logos__button">Купить</a>
                        </div>
                        <div class="slider-logos__item">
                            <div class="slider-logos__image" style="background-image: url(images/temp/logos/4.png);"></div>
                            <a href="#" class="slider-logos__button">Купить</a>
                        </div>
                        <div class="slider-logos__item">
                            <div class="slider-logos__image" style="background-image: url(images/temp/logos/5.jpeg);"></div>
                            <a href="#" class="slider-logos__button">Купить</a>
                        </div>
                        {{/repeat}}
                    </div>
                </div>
                <button type="button" class="slider-logos__next">
                    <i class="icon-arrow-right"></i>
                </button>
            </div>
            <div class="slider-logos__dots"></div>
        </div>
    </div>
</section>