---
title: Главная
layout: default.hbs
---

<section class="promo">
    <div class="promo__image" style="background-image: url(images/promo.jpg);"></div>
</section>

<nav class="nav-pics">
    <div class="nav-pics__content">
        <div class="section__center">
            <div class="nav-pics__row">
                <div class="nav-pics__col">
                    <div class="nav-pics__item">
                        <div class="nav-pics__image" style="background-image: url(images/nav-pics/3.png);">
                            <div class="nav-pics__new"></div>
                        </div>
                        <div class="nav-pics__title">
                            <div class="nav-pics__title__text">Развлечения</div>
                            <div class="nav-pics__title__arrow">
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                        <a href="#" class="nav-pics__link"></a>
                        
                    </div>
                </div>
                <div class="nav-pics__col">
                    <div class="nav-pics__item">
                        <div class="nav-pics__image" style="background-image: url(images/nav-pics/2.png);"></div>
                        <div class="nav-pics__title">
                            <div class="nav-pics__title__text">Продукция</div>
                            <div class="nav-pics__title__arrow">
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                        <a href="#" class="nav-pics__link"></a>
                    </div>
                </div>
                <div class="nav-pics__col">
                    <div class="nav-pics__item">
                        <div class="nav-pics__image" style="background-image: url(images/nav-pics/1.png);"></div>
                        <div class="nav-pics__title">
                            <div class="nav-pics__title__text">Полезное</div>
                            <div class="nav-pics__title__arrow">
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                        <a href="#" class="nav-pics__link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="video">
    
    <img src="images/decors/stars-1.png" alt="" class="video__decor-1">
    <img src="images/decors/gypno-1.png" alt="" class="video__decor-2">

    <div class="section__center">
        <h3 class="section__title video__title">текстовой блок</h3>

        <div class="less-more video__desc">
            <div class="less-more__crop video__desc__crop">
                <div class="less-more__ruler">
                    С рождения до 6 месяцев малыш бессознательно принимает ряд важных решений: жить и радоваться, доверять людям и звать на помощь, ожидать, что услышат и откликнутся на его потребности. В этот период поддержка родителей особенно важна.
                    <br><br>Для того, чтобы помочь малышу сформировать здоровые жизненные установки и укрепить его доверие к вам, держите его на руках и смотрите на него во время кормления; заботливо прикасайтесь; говорите с ним и повторяйте за ним звуки.
                </div>
            </div>
            <a href="#" class="button-link less-more__button">
                <span>Подробнее</span>
                <span>Скрыть</span>
            </a>
        </div>

        <div class="video__player">
            <div class="video__label">
                <div class="video__label__text">Смотрите новую серию!</div>
            </div>
            <div class="video__screen">
                <div class="video__image" style="background-image: url(images/temp/videos/2.jpeg);"></div>
                <a href="https://www.youtube.com/watch?v=w5NFL1P0pPQ" class="video__play" data-lity>
                    <i class="icon-play"></i>
                </a>
            </div>
            
        </div>

    </div>

    

</section>

{{> slider-quotes }}



{{> slider-logos }}