---
title: Главная
layout: default.hbs
---

<nav class="nav-slider">
    <div class="section__center">
        <button type="button" class="nav-slider__prev">
            <i class="icon-arrow-left"></i>
        </button>
        <div class="swiper">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide active">
                    <div class="nav-slider__icon">
                        <svg class="icon">
                            <use xlink:href="images/nav-icons/sprite-1.svg#baby-juice"></use>
                        </svg>
                    </div>
                    <div class="nav-slider__text">Детский сок</div>
                </a>
                <a href="#" class="swiper-slide">
                    <div class="nav-slider__icon">
                        <svg class="icon">
                            <use xlink:href="images/nav-icons/sprite-1.svg#baby-water"></use>
                        </svg>
                    </div>
                    <div class="nav-slider__text">Детская вода</div>
                </a>
                <a href="#" class="swiper-slide">
                    <div class="nav-slider__icon">
                        <svg class="icon">
                            <use xlink:href="images/nav-icons/sprite-1.svg#fruit-puree"></use>
                        </svg>
                    </div>
                    <div class="nav-slider__text">Фруктовые пюре</div>
                </a>
                <a href="#" class="swiper-slide">
                    <div class="nav-slider__icon">
                        <svg class="icon">
                            <use xlink:href="images/nav-icons/sprite-1.svg#drinking-porridge"></use>
                        </svg>
                    </div>
                    <div class="nav-slider__text">Питьевые каши</div>
                </a>
                <a href="#" class="swiper-slide">
                    <div class="nav-slider__icon">
                        <svg class="icon">
                            <use xlink:href="images/nav-icons/sprite-1.svg#ready-made-food"></use>
                        </svg>
                    </div>
                    <div class="nav-slider__text">Готовые блюда</div>
                </a>
                <a href="#" class="swiper-slide">
                    <div class="nav-slider__icon nav-slider__icon--reviews">
                        <svg class="icon">
                            <use xlink:href="images/nav-icons/sprite-1.svg#reviews"></use>
                        </svg>
                    </div>
                    <div class="nav-slider__text">Отзывы</div>
                </a>
            </div>
        </div>
        <button type="button" class="nav-slider__next">
            <i class="icon-arrow-right"></i>
        </button>
    </div>
</nav>


<section class="slider-cards">
    <div class="section__center">
        <h3 class="section__title">Детский сок</h3>
    </div>

        <div class="section__curved section__curved--orange">
            <div class="section__curved__content">
                <div class="section__center">
                    
                    <div class="products">
                        <div class="products__col">
                            <div class="products__item">
                                <div class="products__image" style="background-image: url(images/temp/products/4.jpeg);"></div>
                                <div class="products__title">
                                    Сок мультифруктовый 
                                </div>
                                <div class="products__desc">
                                    Черноголовка Бэйби Сок мультифруктовый восстановленный с 6 месяцев, 200 мл (тетра пак)
                                    Сок  «Черноголовка Бэйби» — вкусный 100% натуральный продукт, который удобно взять с собой на прогулку, в поездку или на пикник. Благодаря удобной и безопасной упаковке ребенок может пить самостоятельно. 
                                    А изображения героев любимого мультсериала «Оранжевая корова» развлекут и порадуют малыша.   Скрыть
                                </div>
                                <div class="products__prop">200 мл</div>
                                <div class="products__btn-buy">
                                    <button type="button">Купить</button>
                                </div>
                            </div>
                        </div>
                        <div class="products__col">
                            <div class="products__item">
                                <div class="products__image" style="background-image: url(images/temp/products/4.jpeg);"></div>
                                <div class="products__title">
                                    Сок мультифруктовый 
                                </div>
                                <div class="products__desc">
                                    Черноголовка Бэйби Сок мультифруктовый восстановленный с 6 месяцев, 200 мл (тетра пак)
                                    Сок  «Черноголовка Бэйби» — вкусный 100% натуральный продукт, который удобно взять с собой на прогулку, в поездку или на пикник. Благодаря удобной и безопасной упаковке ребенок может пить самостоятельно. 
                                </div>
                                <div class="products__prop">200 мл</div>
                                <div class="products__btn-buy">
                                    <button type="button">Купить</button>
                                </div>
                            </div>
                        </div>
                        <div class="products__col">
                            <div class="products__item">
                                <div class="products__image" style="background-image: url(images/temp/products/4.jpeg);"></div>
                                <div class="products__title">
                                    Сок мультифруктовый 
                                </div>
                                <div class="products__desc">
                                    Черноголовка Бэйби Сок мультифруктовый восстановленный с 6 месяцев, 200 мл (тетра пак)
                                    А изображения героев любимого мультсериала «Оранжевая корова» развлекут и порадуют малыша.   Скрыть
                                </div>
                                <div class="products__prop">200 мл</div>
                                <div class="products__btn-buy">
                                    <button type="button">Купить</button>
                                </div>
                            </div>
                        </div>
      
                    </div>

                    <div class="slider-cards__dots"></div>

                    <div class="section__more">
                        <a href="#" class="section__more__button">
                            <span>Загрузить ещё</span>
                            <i class="icon-refresh-cw"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    
</section>

<section class="slider-cards">
    <div class="section__center">
        <h3 class="section__title">Детская вода</h3>
    </div>

    <div class="section__curved section__curved--blue">
        <div class="section__curved__content">
            <div class="section__center">
                <div class="products">
                    {{#repeat 3}}
                    <div class="products__col">
                        <div class="products__item">
                            <div class="products__image" style="background-image: url(images/temp/products/3.jpeg);"></div>
                            <div class="products__title">
                                Детская вода
                            </div>
                            <div class="products__desc">
                                «Черноголовка Бэйби» - негазированная вода с оптимальной минерализацией для детей с 0+ месяцев. Из собственной артезианской скважины <a href="#">Подробнее</a>
                            </div>
                            <div class="products__btn-buy">
                                <button type="button">Купить</button>
                            </div>
                        </div>
                    </div>
                    {{/repeat}}
                </div>

                <div class="slider-cards__dots"></div>

                <div class="section__more">
                    <a href="#" class="section__more__button">
                        <span>Загрузить ещё</span>
                        <i class="icon-refresh-cw"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="slider-cards">
    <div class="section__center">
        <h3 class="section__title">Фруктовые пюре</h3>
    </div>

    <div class="section__curved section__curved--dark-blue">
        <div class="section__curved__content">

            <div class="section__center">
                <div class="products">
                    {{#repeat 3}}
                    <div class="products__col">
                        <div class="products__item">
                            <div class="products__image" style="background-image: url(images/temp/products/1.jpeg);"></div>
                            <div class="products__title">
                                Черноголовка Бэйби Пюре из яблок и банана с творогом
                            </div>
                            <div class="products__desc">
                                Черноголовка Бэйби Пюре "Фруктово-творожный десерт" с 6 месяцев, 
                            </div>
                            <div class="products__prop">
                                85 гр.
                            </div>
                            <div class="products__btn-buy">
                                <button type="button">Купить</button>
                            </div>
                        </div>
                    </div>
                    {{/repeat}}
                </div>

                <div class="slider-cards__dots"></div>

                <div class="section__more">
                    <a href="#" class="section__more__button">
                        <span>Загрузить ещё</span>
                        <i class="icon-refresh-cw"></i>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="slider-cards">
    <div class="section__center">
        <h3 class="section__title">Готовые блюда</h3>
    </div>

    <div class="section__curved section__curved--green">
        <div class="section__curved__content">
            <div class="section__center">
                <div class="products">
                    {{#repeat 3}}
                    <div class="products__col">
                        <div class="products__item">
                            <div class="products__image" style="background-image: url(images/temp/products/2.jpeg);"></div>
                            <div class="products__title">
                                Фрикадельки из мяса индейки в сливочном соусе
                            </div>
                            <div class="products__desc">
                                Индейка — источник белка и легкоусвояемого железа, а сливочный соус хорошо дополнит любой гарнир.
    с 3 месяцев, <a href="#">Подробнее</a> 
                            </div>
                            <div class="products__btn-buy">
                                <button type="button">Купить</button>
                            </div>
                        </div>
                    </div>
                    {{/repeat}}
                </div>

                <div class="slider-cards__dots"></div>

                <div class="section__more">
                    <a href="#" class="section__more__button">
                        <span>Загрузить ещё</span>
                        <i class="icon-refresh-cw"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{> slider-quotes }}

{{> slider-logos }}