@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?vpbji7");
  src: url("../fonts/icomoon/icomoon.eot?vpbji7#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?vpbji7") format("truetype"), url("../fonts/icomoon/icomoon.woff?vpbji7") format("woff"), url("../fonts/icomoon/icomoon.svg?vpbji7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-play:before {
  content: "\e903"; }

.icon-refresh-cw:before {
  content: "\e900"; }

.icon-arrow-right:before {
  content: "\e901"; }

.icon-arrow-left:before {
  content: "\e902"; }

.section {
  margin: 120px 0; }
  .section__center {
    padding: 0 20px;
    max-width: 1380px;
    margin: 0 auto; }
  .section__title {
    text-align: center;
    text-shadow: 0.05em 0.05em 0 #fff;
    text-transform: uppercase;
    margin-bottom: 0.92593em !important;
    font-size: calc(min(4vw, 54px));
    font-weight: 900;
    line-height: 1.36407;
    color: #0033a0; }
  .section__curved:before, .section__curved:after {
    content: " ";
    height: 90px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% auto;
    display: block; }
  .section__curved:after {
    background-position: 50% 100%; }
  .section__curved--orange:before, .section__curved--orange:after {
    background-image: url(../images/curved-bgs/orange.svg); }
  .section__curved--orange .section__curved__content {
    background: #f68c1f; }
  .section__curved--light-orange:before, .section__curved--light-orange:after {
    background-image: url(../images/curved-bgs/light-orange.svg); }
  .section__curved--light-orange .section__curved__content {
    background: #ffc525; }
  .section__curved--blue:before, .section__curved--blue:after {
    background-image: url(../images/curved-bgs/blue.svg); }
  .section__curved--blue .section__curved__content {
    background: #adc5e7; }
  .section__curved--dark-blue:before, .section__curved--dark-blue:after {
    background-image: url(../images/curved-bgs/dark-blue.svg); }
  .section__curved--dark-blue .section__curved__content {
    background: #7c92b8; }
  .section__curved--green:before, .section__curved--green:after {
    background-image: url(../images/curved-bgs/green.svg); }
  .section__curved--green .section__curved__content {
    background: #30a757; }
  .section__more {
    margin-top: 3.05556em;
    text-align: center;
    font-size: 18px; }
    .section__more__button {
      transition: all 0.2s;
      display: inline-flex;
      align-items: center;
      padding: 1em 1.66667em;
      border: 2px solid #fff;
      border-radius: 0.72222em;
      font-size: 1em;
      font-weight: 700;
      color: #fff; }
      .section__more__button i {
        margin-left: 0.625em;
        font-size: 1.77778em; }
      .section__more__button:hover {
        background: #fff;
        color: #30a757; }
      .section__more__button--green {
        border-color: #30a757;
        color: #30a757; }
        .section__more__button--green:hover {
          background: #30a757;
          color: #fff; }

@media (max-width: 991.98px) {
  .section {
    margin: 85px 0; } }

@media (max-width: 767.98px) {
  .section__title {
    font-size: 32px; } }

@media (max-width: 599.98px) {
  .section {
    margin: 10vw 0; }
    .section__title {
      font-size: 22px; }
    .section__curved:before, .section__curved:after {
      height: 50px;
      background-size: 300vw auto; }
    .section__more {
      font-size: 16px; } }

.products {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px; }
  .products__image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain; }
    .products__image:before {
      content: " ";
      padding-top: 50%;
      display: block; }
  .products__col {
    position: relative;
    flex: 0 0 auto;
    width: 33.33%;
    padding: 0 15px;
    margin-top: 30px; }
  .products__item {
    border-radius: 20px;
    background: #fff;
    padding: 30px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column; }
  .products__title {
    margin-bottom: 0.55556em;
    margin-top: 2.38889em;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33333em;
    color: rgba(0, 0, 0, 0.8); }
  .products__desc {
    max-height: 3.85714em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 1.28571em; }
  .products__prop {
    margin-top: 1.25em;
    font-size: 16px;
    line-height: 1.375em;
    color: rgba(0, 0, 0, 0.5); }
  .products__btn-buy {
    margin-top: auto;
    padding-top: 1.66667em;
    font-size: 18px; }
    .products__btn-buy > * {
      transition: all 0.2s;
      padding: 0.72222em 2.44444em;
      background: #30a757;
      border: 0;
      border-radius: 0.72222em;
      font-size: 1em;
      font-weight: 700;
      text-align: center;
      color: rgba(255, 255, 255, 0.9); }
      .products__btn-buy > *:hover {
        background: #36bb61; }

@media (max-width: 991.98px) {
  .products__col {
    width: 50%; } }

@media (max-width: 767.98px) {
  .products__col {
    width: 100%; }
  .products__item {
    width: 80%;
    margin: 0 auto; } }

@media (max-width: 599.98px) {
  .products__item {
    padding: 15px;
    border-radius: 10px;
    width: 90%; }
  .products__title {
    font-size: 16px; }
  .products__btn-buy {
    padding-top: 15px; } }

.nav-articles__item {
  position: relative;
  padding: 1.18182em 1.81818em;
  border-radius: 0.90909em;
  margin-top: 0.45455em;
  font-size: 22px; }
  .nav-articles__item:first-child {
    margin-top: 0; }
  .nav-articles__item:nth-child(odd) {
    background: rgba(255, 197, 37, 0.08); }
    .nav-articles__item:nth-child(odd) .nav-articles__title {
      color: #f6850f; }
    .nav-articles__item:nth-child(odd):hover .nav-articles__arrow {
      background: #f6850f;
      color: #fff; }
  .nav-articles__item:nth-child(even) {
    background: rgba(0, 51, 160, 0.08); }
    .nav-articles__item:nth-child(even) .nav-articles__title {
      color: #0033a0; }
    .nav-articles__item:nth-child(even):hover .nav-articles__arrow {
      background: #0033a0;
      color: #fff; }

.nav-articles__title {
  padding-right: 4.54545em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5; }

.nav-articles__desc {
  padding-right: 5.55556em;
  margin-top: 6px;
  font-size: 0.81818em;
  line-height: 1.3;
  color: #000; }

.nav-articles__arrow {
  transition: all 0.2s;
  position: absolute;
  right: 1.92308em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0.46154em;
  border-radius: 0.38462em;
  font-size: 1.18182em;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8); }

.nav-articles__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media (max-width: 767.98px) {
  .nav-articles__item {
    font-size: 16px; } }

@media (max-width: 599.98px) {
  .nav-articles__item {
    font-size: 12px; }
  .nav-articles__title {
    min-height: 3em; }
  .nav-articles__desc {
    padding-right: 0; }
  .nav-articles__arrow {
    top: 1.18182em;
    -webkit-transform: none;
            transform: none; } }

.nav-pics:before, .nav-pics:after {
  content: " ";
  height: 110px;
  background: url(../images/curved-bgs/light-blue.svg) no-repeat 50% 0;
  background-size: 100% auto;
  display: block; }

.nav-pics:before {
  height: 90px; }

.nav-pics:after {
  background-position: 50% 100%; }

.nav-pics__content {
  background: #f5f7fe; }

.nav-pics__row {
  display: flex;
  margin: 0 -35px; }

.nav-pics__col {
  flex: 0 0 auto;
  padding: 0 35px;
  width: 33.33%; }

.nav-pics__image {
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain; }
  .nav-pics__image:before {
    content: " ";
    padding-top: 100%;
    display: block; }

.nav-pics__item {
  position: relative; }
  .nav-pics__item:hover .nav-pics__title {
    color: #0033a0; }
  .nav-pics__item:hover .nav-pics__title__arrow {
    transition: margin 0.2s, opacity 0.2s 0.1s;
    margin-left: 1.05263em;
    opacity: 1; }

.nav-pics__title {
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.6875em;
  font-size: calc(min(3vw, 32px));
  font-weight: 900;
  line-height: 1.36406;
  text-shadow: 0.05em 0.05em 0 #fff;
  text-transform: uppercase;
  text-align: center;
  color: #6950a2; }
  .nav-pics__title__arrow {
    transition: margin 0.2s 0.1s, opacity 0.2s;
    margin-left: -2em;
    opacity: 0;
    background: #ffc525;
    padding: 0.47368em;
    border-radius: 0.52632em;
    font-size: 0.59375em;
    line-height: 1;
    color: #fff; }

.nav-pics__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.nav-pics__new {
  position: absolute;
  right: 15%;
  top: 17%;
  width: 21%;
  background: url(../images/new.svg) no-repeat 50% 50%;
  background-size: contain; }
  .nav-pics__new:before {
    content: " ";
    padding-top: 50%;
    display: block; }

@media (max-width: 991.98px) {
  .nav-pics__row {
    margin: 0 -20px; }
  .nav-pics__col {
    padding: 0 20px; } }

@media (max-width: 767.98px) {
  .nav-pics:before {
    height: 35px; }
  .nav-pics:after {
    height: 55px; }
  .nav-pics__row {
    flex-wrap: wrap; }
  .nav-pics__col {
    margin-top: 40px; }
    .nav-pics__col:first-child {
      margin-top: 0; }
  .nav-pics__image {
    max-width: 300px;
    margin: 0 auto; }
  .nav-pics__col {
    width: 100%; }
  .nav-pics__title {
    font-size: 20px; } }

@media (max-width: 599.98px) {
  .nav-pics__image {
    max-width: 240px; } }

.slider-logos {
  margin: 120px 0; }
  .slider-logos__slider {
    position: relative; }
  .slider-logos__body {
    margin: 0 50px;
    overflow: hidden; }
  .slider-logos__list {
    display: flex;
    margin: 0 -20px;
    overflow: hidden; }
  .slider-logos__item {
    flex: 0 0 auto;
    padding: 0 20px;
    width: 25%;
    text-align: center; }
  .slider-logos__image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    max-width: 200px;
    margin: 0 auto; }
    .slider-logos__image:before {
      content: " ";
      padding-top: 50%;
      display: block; }
  .slider-logos__button {
    transition: all 0.2s;
    display: inline-block;
    background: #30a657;
    border-radius: 3px;
    margin-top: 1.25em;
    padding: 0.875em 2.5em;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff !important; }
    .slider-logos__button:hover {
      background: #2a924d; }
  .slider-logos__next, .slider-logos__prev {
    transition: all 0.2s;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 1em;
    border: 1px solid #eaeaea;
    font-size: 16px;
    line-height: 1;
    background: #fff;
    color: rgba(0, 0, 0, 0.8); }
    .slider-logos__next:hover, .slider-logos__prev:hover {
      background: #30a657;
      border-color: transparent;
      color: #fff; }
    .slider-logos__next.slick-disabled, .slider-logos__prev.slick-disabled {
      opacity: 0.5;
      cursor: default; }
      .slider-logos__next.slick-disabled:hover, .slider-logos__prev.slick-disabled:hover {
        background: #fff;
        color: rgba(0, 0, 0, 0.8); }
  .slider-logos__next {
    right: 0; }
  .slider-logos .slick-dotted {
    overflow: visible; }
  .slider-logos .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 35px; }
    .slider-logos .slick-dots li {
      margin: 0 10px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #000;
      opacity: 0.1;
      overflow: hidden; }
      .slider-logos .slick-dots li.slick-active {
        opacity: 0.5 !important; }
    .slider-logos .slick-dots button {
      display: none; }

@media (max-width: 991.98px) {
  .slider-logos {
    margin: 85px 0; }
    .slider-logos__item {
      width: 33.33%; } }

@media (max-width: 767.98px) {
  .slider-logos__item {
    width: 50%; }
  .slider-logos__button {
    font-size: 12px; } }

@media (max-width: 599.98px) {
  .slider-logos {
    margin: 10vw 0; }
    .slider-logos__item {
      width: 100%; }
    .slider-logos__prev, .slider-logos__next {
      font-size: 10px; }
    .slider-logos .slick-dots li {
      margin: 0 5px; } }

.slider-quotes {
  position: relative; }
  .slider-quotes__slider {
    position: relative; }
  .slider-quotes__buttons {
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%; }
    .slider-quotes__buttons > div {
      display: flex;
      justify-content: space-between; }
  .slider-quotes__prev, .slider-quotes__next {
    transition: all 0.2s;
    pointer-events: all;
    padding: 1em;
    border: 0;
    border-radius: 0.33333em;
    background: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    line-height: 1;
    color: #fff; }
    .slider-quotes__prev:hover, .slider-quotes__next:hover {
      background: rgba(255, 255, 255, 0.6); }
    .slider-quotes__prev.slick-disabled, .slider-quotes__next.slick-disabled {
      opacity: 0.5;
      cursor: default; }
      .slider-quotes__prev.slick-disabled:hover, .slider-quotes__next.slick-disabled:hover {
        background: rgba(255, 255, 255, 0.4); }
  .slider-quotes__item {
    display: none; }
    .slider-quotes__item:first-child {
      display: block; }
  .slider-quotes__center {
    display: flex;
    justify-content: center; }
  .slider-quotes__image {
    flex: 0 0 auto;
    width: 30%;
    max-width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 50%; }
  .slider-quotes__cloud {
    flex: 1 1 auto;
    max-width: 700px;
    background: url("../images/quotes/cloud-bg.png") no-repeat;
    background-size: 100% 100%;
    padding: 90px;
    display: flex;
    align-items: center; }
  .slider-quotes__author {
    flex: 0 0 auto;
    width: 112px;
    margin-right: 38px; }
  .slider-quotes__text {
    flex: 0 0 auto;
    width: calc(100% - 150px); }
  .slider-quotes__name {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    color: rgba(0, 0, 0, 0.8); }
  .slider-quotes__date {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.3;
    color: rgba(0, 0, 0, 0.5); }
  .slider-quotes__desc {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8); }
    .slider-quotes__desc a {
      text-decoration: underline;
      color: #30a757; }
  .slider-quotes__mark {
    max-width: 50px;
    margin: 0 auto;
    background: #ffc525 url(../images/quotes/quote-mark.svg) no-repeat;
    background-size: 101% auto; }
    .slider-quotes__mark:before {
      content: " ";
      padding-top: 68.29268%;
      display: block; }
  .slider-quotes__avatar {
    border-radius: 50%;
    background-size: cover;
    margin-top: 45px; }
    .slider-quotes__avatar:before {
      content: " ";
      padding-top: 100%;
      display: block; }
  .slider-quotes__btn-add {
    margin-top: 1.66667em;
    font-size: 18px; }
    .slider-quotes__btn-add > * {
      transition: all 0.2s;
      display: inline-block;
      border: 0;
      border-radius: 0.72222em;
      padding: 0.72222em 1.66667em;
      background: #ffc525;
      font-size: 1em;
      font-weight: 700;
      line-height: 1.36389;
      color: #fff; }
      .slider-quotes__btn-add > *:hover {
        background: #ffbe0c; }
  .slider-quotes__decor-1 {
    -webkit-transform: rotate(110deg);
            transform: rotate(110deg);
    position: absolute;
    left: 87%;
    top: 25%;
    width: 8%;
    mix-blend-mode: multiply; }
  .slider-quotes__decor-2 {
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
    position: absolute;
    left: 7%;
    top: 65%;
    width: 9%;
    mix-blend-mode: multiply; }
  .slider-quotes__decor-3 {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    position: absolute;
    left: 16%;
    top: 35%;
    width: 7%;
    mix-blend-mode: multiply; }
  .slider-quotes__decor-4 {
    -webkit-transform: rotate(185deg);
            transform: rotate(185deg);
    position: absolute;
    left: 86%;
    top: 75%;
    width: 5%;
    mix-blend-mode: multiply; }
  .slider-quotes .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 35px; }
    .slider-quotes .slick-dots li {
      margin: 0 10px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fff;
      opacity: 0.3;
      overflow: hidden; }
      .slider-quotes .slick-dots li.slick-active {
        opacity: 0.8 !important; }
    .slider-quotes .slick-dots button {
      display: none; }

@media (max-width: 991.98px) {
  .slider-quotes__center {
    display: block; }
  .slider-quotes__image {
    height: 60vw;
    max-height: 400px;
    margin: 0 auto;
    background-size: auto 100%;
    width: 100%;
    background-position: 50% 100%;
    margin-bottom: -5vw; }
  .slider-quotes__cloud {
    margin: 0 auto; } }

@media (max-width: 767.98px) {
  .slider-quotes__cloud {
    padding: 80px 60px; }
  .slider-quotes__avatar {
    margin-top: 25px; }
  .slider-quotes__desc {
    font-size: 13px; }
  .slider-quotes__name, .slider-quotes__btn-add {
    font-size: 16px; }
  .slider-quotes__decor-1 {
    left: 67%;
    top: 25%;
    width: 28%; }
  .slider-quotes__decor-2 {
    left: 7%;
    top: 85%;
    width: 9%; }
  .slider-quotes__decor-3 {
    left: 16%;
    top: 35%;
    width: 17%; }
  .slider-quotes__decor-4 {
    left: 26%;
    top: 25%;
    width: 10%; } }

@media (max-width: 599.98px) {
  .slider-quotes__prev, .slider-quotes__next {
    font-size: 10px; }
  .slider-quotes__avatar {
    display: none; }
  .slider-quotes__cloud {
    display: block;
    padding: 13vw; }
  .slider-quotes__author, .slider-quotes__text {
    width: 100%; }
  .slider-quotes__name {
    font-size: 12px; }
  .slider-quotes__date {
    margin: 5px 0;
    font-size: 12px; }
  .slider-quotes__desc {
    font-size: 12px; }
    .slider-quotes__desc__crop {
      max-height: 3em;
      overflow: hidden; }
  .slider-quotes__mark {
    width: 8vw;
    max-width: 30px;
    margin: 0 0 3vw 0; }
  .slider-quotes__btn-add {
    margin-top: 1em;
    text-align: center;
    font-size: 12px; }
  .slider-quotes .slick-dots li {
    margin: 0 5px; } }

.slider-cards {
  margin: 120px 0; }
  .slider-cards .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 35px; }
    .slider-cards .slick-dots li {
      margin: 0 10px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fff;
      opacity: 0.3;
      overflow: hidden; }
      .slider-cards .slick-dots li.slick-active {
        opacity: 0.8 !important; }
    .slider-cards .slick-dots button {
      display: none; }

@media (max-width: 991.98px) {
  .slider-cards {
    margin: 85px 0; } }

@media (max-width: 599.98px) {
  .slider-cards {
    margin: 10vw 0; }
    .slider-cards .slick-dots li {
      margin: 0 5px; } }

.promo__image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  .promo__image:before {
    content: " ";
    padding-top: 38.54167%;
    display: block; }

@media (max-width: 599.98px) {
  .promo__image {
    background-position: 70% 50%;
    background-size: auto 100%; }
    .promo__image:before {
      padding-top: 60%; } }

.video {
  position: relative;
  padding-top: 115px;
  padding-bottom: 125px; }
  .video__title {
    margin-bottom: 0.62963em !important; }
  .video__desc {
    max-width: 915px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    line-height: 1.36389;
    color: rgba(0, 0, 0, 0.8); }
    .video__desc a {
      color: #30a757 !important; }
  .video__player {
    position: relative;
    margin-top: 4.375em;
    font-size: calc(min(3vw, 32px)); }
  .video__label {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10; }
    .video__label__text {
      display: inline-block;
      padding: 0.875em 2.03125em;
      background: url(../images/new-episode-bg.svg) no-repeat 50% 50%;
      background-size: 100% 100%;
      font-size: 1em;
      font-weight: 900;
      line-height: 1.36406;
      text-transform: uppercase;
      text-shadow: 0.05em 0.05em 0 #fff;
      white-space: nowrap;
      color: #0033a0; }
  .video__screen {
    position: relative;
    padding: 0.75em;
    width: 90%;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(64.94deg, rgba(0, 51, 160, 0.15) 2.94%, rgba(105, 80, 162, 0.15) 86.46%);
    border-radius: 1.875em; }
  .video__image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.25em; }
    .video__image:before {
      content: " ";
      padding-top: 58.89328%;
      display: block; }
  .video__play {
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    background: #ea4d33;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer; }
    .video__play:hover {
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1); }
    .video__play i {
      -webkit-transform: translateX(0.1em);
              transform: translateX(0.1em); }
  .video__decor-1 {
    position: absolute;
    left: 83%;
    top: 5%;
    width: 12%;
    opacity: 0.5; }
  .video__decor-2 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    left: 5%;
    top: 21%;
    width: 9%;
    opacity: 0.5; }

@media (max-width: 1299.98px) {
  .video__decor-2 {
    top: 35%; } }

@media (max-width: 991.98px) {
  .video {
    padding: 85px 0; } }

@media (max-width: 767.98px) {
  .video__play {
    font-size: 4vw; }
  .video__desc {
    font-size: 16px; }
  .video__decor-2 {
    top: 40%; } }

@media (max-width: 599.98px) {
  .video {
    padding: 50px 0; }
    .video__desc {
      font-size: 14px; }
      .video__desc__crop {
        max-height: 8.18333em;
        overflow: hidden; }
    .video__player {
      margin-top: 65px; }
    .video__label {
      margin-bottom: 10px;
      position: static;
      text-align: center;
      -webkit-transform: none;
              transform: none;
      font-size: 14px; }
    .video__screen {
      width: 100%; }
    .video__decor-1 {
      width: 17%;
      left: 80%;
      top: 1%; }
    .video__decor-2 {
      width: 15%; } }

.less-more__crop {
  transition: 0.3s all; }

.less-more__button {
  display: none; }
  .less-more__button span:last-child {
    display: none; }
  .less-more__button.active span {
    display: none; }
    .less-more__button.active span:last-child {
      display: block; }
  .less-more__button.shown {
    display: inline-block; }

.nav-slider {
  position: relative;
  margin: 35px 0; }
  .nav-slider__prev, .nav-slider__next {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: #ffc525;
    border-radius: 0.5em;
    border: 0;
    position: absolute;
    z-index: 10;
    top: 50%;
    padding: 0.33333em;
    font-size: 20px;
    color: #fff;
    cursor: pointer; }
  .nav-slider__prev {
    left: 0; }
    .nav-slider__prev i {
      display: block;
      -webkit-transform: translateX(-0.05em);
              transform: translateX(-0.05em); }
  .nav-slider__next {
    right: 0; }
    .nav-slider__next i {
      display: block;
      -webkit-transform: translateX(0.05em);
              transform: translateX(0.05em); }
  .nav-slider__icon {
    font-size: 52px;
    height: 1em; }
    .nav-slider__icon svg {
      height: 1em;
      width: 1em; }
    .nav-slider__icon--reviews svg {
      width: 0.8em;
      height: 0.8em;
      margin-top: 0.2em; }
  .nav-slider__text {
    line-height: 1.21429;
    margin-top: 10px; }
  .nav-slider .swiper-wrapper {
    display: flex; }
  .nav-slider .swiper-slide {
    flex: 0 0 auto;
    max-width: 8em;
    margin-right: 35px;
    text-align: center;
    width: auto;
    font-size: 14px;
    text-decoration: none;
    color: #000; }
    .nav-slider .swiper-slide:last-child {
      margin-right: 0; }
    .nav-slider .swiper-slide.active {
      color: #30a757; }
  .nav-slider .swiper-button-disabled,
  .nav-slider .swiper-button-lock {
    display: none; }

@media (max-width: 1379.98px) {
  .nav-slider__prev {
    left: 20px; }
  .nav-slider__next {
    right: 20px; }
  .nav-slider .swiper-slide:first-child {
    margin-left: 20px; }
  .nav-slider .swiper-slide:last-child {
    margin-right: 20px; }
  .nav-slider .section__center {
    padding: 0; } }

@media (max-width: 767.98px) {
  .nav-slider__icon {
    font-size: 35px; }
  .nav-slider__prev, .nav-slider__next {
    font-size: 12px; }
  .nav-slider .swiper-slide {
    font-size: 12px; } }

.page--orangecow {
  min-width: 320px;
  letter-spacing: 0.05em; }
  .page--orangecow .header-v6 {
    padding: 22px 0; }
  .page--orangecow #mobileheader {
    height: 77px; }
  .page--orangecow #mobileheader .logo {
    margin-top: 5px; }
