<aside class="popup-shops" id="popup-shops">
    <div class="popup-shops__header">
        <div class="popup-shops__title">Выберите интернет-магазин</div>
        <div class="popup-shops__tip">*Для покупок мы предлагаем несколько сайтов партнеров</div>
    </div>
    <div class="popup-shops__body">
        <div class="popup-shops__list">
            <div class="popup-shops__item">
                <div class="popup-shops__logo">
                    <img src="images/temp/logos/1.png" alt="">
                </div>
                <div class="popup-shops__buy">
                    <a href="#" class="popup-shops__button">В магазин</a>
                </div>
            </div>
            <div class="popup-shops__item">
                <div class="popup-shops__logo">
                    <img src="images/temp/logos/2.png" alt="">
                </div>
                <div class="popup-shops__buy">
                    <a href="#" class="popup-shops__button">В магазин</a>
                </div>
            </div>
            <div class="popup-shops__item">
                <div class="popup-shops__logo">
                    <img src="images/temp/logos/3.png" alt="">
                </div>
                <div class="popup-shops__buy">
                    <a href="#" class="popup-shops__button">В магазин</a>
                </div>
            </div>
            <div class="popup-shops__item">
                <div class="popup-shops__logo">
                    <img src="images/temp/logos/4.png" alt="">
                </div>
                <div class="popup-shops__buy">
                    <div class="popup-shops__empty">Нет в наличии</div>
                </div>
            </div>
        </div>
    </div>
</aside>