
<section class="slider-quotes">

    <div class="section__center">
        <h3 class="section__title">Отзывы</h3>
    </div>

    <div class="section__curved section__curved--light-orange">

        <img src="images/decors/stars-1.png" alt="" class="slider-quotes__decor-1">
        <img src="images/decors/stars-1.png" alt="" class="slider-quotes__decor-2">
        <img src="images/decors/gypno-2.png" alt="" class="slider-quotes__decor-3">
        <img src="images/decors/gypno-2.png" alt="" class="slider-quotes__decor-4">
        
        <div class="section__curved__content">
            <div class="slider-quotes__root">
                <div class="slider-quotes__slider">
                    <div class="slider-quotes__list">
                        <div class="slider-quotes__item">
                            <div class="section__center">
                                <div class="slider-quotes__center">
                                    <div class="slider-quotes__image" style="background-image: url(images/quotes/heroes/1.png);"></div>
                                    <div class="slider-quotes__cloud">
                                        <div class="slider-quotes__author">
                                            <div class="slider-quotes__mark"></div>
                                            <div class="slider-quotes__avatar" style="background-image: url(images/temp/quotes/1.jpeg);"></div>
                                        </div>
                                        <div class="slider-quotes__text">
                                            <div class="slider-quotes__name">Иванова Ирина</div>
                                            <div class="slider-quotes__date">10.11.2021</div>
                                            <div class="slider-quotes__desc">
                                                <div class="slider-quotes__desc__crop">
                                                    В летний период, находясь за городом часто покупаю питьевую негазированную воду в 5 литровых канистрах для приготовления еды, а просто пить для утоления жажды в меньших объёмах, при этом предпочтение отдаю воде из Черноголовки.  
                                                </div>
                                                <a href="#">Прочитать все</a> 
                                            </div>
                                            <div class="slider-quotes__rating">
                                                <div class="slider-quotes__rating__stars"><div></div></div>
                                                <div class="slider-quotes__rating__count"></div>
                                            </div>
                                  
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-quotes__item">
                            <div class="section__center">
                                <div class="slider-quotes__center">
                                    <div class="slider-quotes__image" style="background-image: url(images/quotes/heroes/2.png);"></div>
                                    <div class="slider-quotes__cloud">
                                        <div class="slider-quotes__author">
                                            <div class="slider-quotes__mark"></div>
                                            <div class="slider-quotes__avatar" style="background-image: url(images/temp/quotes/1.jpeg);"></div>
                                        </div>
                                        <div class="slider-quotes__text">
                                            <div class="slider-quotes__name">Иванова Ирина</div>
                                            <div class="slider-quotes__date">10.11.2021</div>
                                            <div class="slider-quotes__desc">
                                                <div class="slider-quotes__desc__crop">
                                                    В летний период, находясь за городом часто покупаю питьевую негазированную воду в 5 литровых канистрах для приготовления еды, а просто пить для утоления жажды в меньших объёмах, при этом предпочтение отдаю воде из Черноголовки.  
                                                </div>
                                                <a href="#">Прочитать все</a> 
                                            </div>
                                            <div class="slider-quotes__rating">
                                                <div class="slider-quotes__rating__stars"><div></div></div>
                                                <div class="slider-quotes__rating__count"></div>
                                            </div>
                                      
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-quotes__item">
                            <div class="section__center">
                                <div class="slider-quotes__center">
                                    <div class="slider-quotes__image" style="background-image: url(images/quotes/heroes/3.png);"></div>
                                    <div class="slider-quotes__cloud">
                                        <div class="slider-quotes__author">
                                            <div class="slider-quotes__mark"></div>
                                            <div class="slider-quotes__avatar" style="background-image: url(images/temp/quotes/1.jpeg);"></div>
                                        </div>
                                        <div class="slider-quotes__text">
                                            <div class="slider-quotes__name">Иванова Ирина</div>
                                            <div class="slider-quotes__date">10.11.2021</div>
                                            <div class="slider-quotes__desc">
                                                <div class="slider-quotes__desc__crop">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo est itaque voluptatum unde, debitis doloremque voluptatem exercitationem dicta tenetur suscipit ex dolores labore perferendis, dolor fuga architecto quia voluptates incidunt?
                                                </div>
                                                <a href="#">Прочитать все</a> 
                                            </div>
                                            <div class="slider-quotes__rating">
                                                <div class="slider-quotes__rating__stars"><div></div></div>
                                                <div class="slider-quotes__rating__count"></div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-quotes__buttons">
                        <div class="section__center">
                            <button type="button" class="slider-quotes__prev">
                                <i class="icon-arrow-left"></i>
                            </button>
                            <button type="button" class="slider-quotes__next">
                                <i class="icon-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="slider-quotes__dots"></div>
            </div>
        </div>
    </div>
    
</section>