<section class="slider-logos">
    <div class="section__center">
        <h3 class="section__title">магазины</h3>

        <div class="slider-logos__root">
            <div class="slider-logos__slider">
                <button type="button" class="slider-logos__prev">
                    <i class="icon-arrow-left"></i>
                </button>
                <div class="slider-logos__body">
                    <div class="slider-logos__list">
                    {{#repeat 2}}
                        <div class="slider-logos__item">
                            <div class="slider-logos__image" style="background-image: url(images/temp/logos/1.png);"></div>
                            <a href="#" class="slider-logos__button">Купить</a>
                        </div>
                        <div class="slider-logos__item">
                            <div class="slider-logos__image" style="background-image: url(images/temp/logos/2.png);"></div>
                            <a href="#" class="slider-logos__button">Купить</a>
                        </div>
                        <div class="slider-logos__item">
                            <div class="slider-logos__image" style="background-image: url(images/temp/logos/3.png);"></div>
                            <a href="#" class="slider-logos__button">Купить</a>
                        </div>
                        <div class="slider-logos__item">
                            <div class="slider-logos__image" style="background-image: url(images/temp/logos/4.png);"></div>
                            <a href="#" class="slider-logos__button">Купить</a>
                        </div>
                        <div class="slider-logos__item">
                            <div class="slider-logos__image" style="background-image: url(images/temp/logos/5.jpeg);"></div>
                            <a href="#" class="slider-logos__button">Купить</a>
                        </div>
                        {{/repeat}}
                    </div>
                </div>
                <button type="button" class="slider-logos__next">
                    <i class="icon-arrow-right"></i>
                </button>
            </div>
            <div class="slider-logos__dots"></div>
        </div>
    </div>
</section>