@import "./components/icomoon";
@import "./components/section";
@import "./components/products";
@import "./components/nav-articles";
@import "./components/nav-pics";
@import "./components/slider-logos";
@import "./components/slider-quotes";
@import "./components/slider-cards";
@import "./components/promo";
@import "./components/video";
@import "./components/less-more";

.page--orangecow {
	min-width: 320px;
	letter-spacing: 0.05em;

	.header-v6 {
		padding: 22px 0;
	}

	#mobileheader {
		height: 77px;
	}

	#mobileheader .logo {
		margin-top: 5px;
	}
}
